.el-container {
    //群组选择器
    & .el-header,
    .el-main,
    .el-footer {
        margin: 0;
        padding: 0;
    }
}
.el-menu {
    justify-content: center;
    align-items: center;
    &-item {
        width: 130px;
    }
}

.mt-4 {
    margin-left: 130px;
}

.headimg {
    width: 100%;
    height: auto;
}

// 下拉菜单
.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}

.centerbody {
    display: flex;
    width: 100%;
    justify-content: center;
    .warpper {
        margin-top: 30px;
        width: 80%;
        .header {
            margin-bottom: 50px;
            .titleTextBox {
                font-family: "SimHei";
                font-size: 50px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                margin: 20px 0 20px 0;
            }
            &-line {
                margin: 0 auto;
                width: 100px;
                height: 10px;
                background-color: rgb(255, 165, 5);
            }
            span {
                display: flex;
                justify-content: center;
            }
        }
        .middle {
            width: 100%;
            .headerimg {
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                }
            }
            .flexbox {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
            }
        }
    }
}

//ESG的各种属性
.box1,
.box2,
.box3 {
    ul {
        list-style-type: none;
    }
    li {
        font-family: "SimHei";
        text-align: center;
        list-style-type: none;
        margin: 0 auto;
        width: 80%;
    }
    width: 100%;
}

.box2,
.box3 {
    border-left: 2px rgb(255, 165, 5) solid;
}
